:root {
  --akcent-color: #4d5ae5;
  --text-color: #434455;
  --title-color: #2e2f42;
  --white-color: #ffffff;
  --nav-color: #404bbf;
  --team-color: #f4f4fd;
  --portfolio-button: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--text-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/*header*/
.header-logo {
  color: var(--akcent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-studio {
  color: #2e2f42;
}
.nav-link {
  color: var(--title-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--nav-color);
}
.header-address {
  font-style: normal;
}
.address-link {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
  color: var(--nav-color);
}
/*section efective*/
.section-efective {
  background-color: var(--title-color);
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-align: center;
}
.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--akcent-color);
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--nav-color);
}

/*section plus*/
.plus-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.plus-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/*section doing*/
.doing-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}
/*section team*/
.section-team {
  background-color: var(--team-color);
}
.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}
.team-li {
  background-color: var(--white-color);
}
.team-h {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/*footer*/
.footer {
  background-color: var(--title-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--team-color);
}
.footer-studio {
  color: var(--team-color);
}

/*portfolio*/
.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--akcent-color);
  background-color: var(--team-color);
  cursor: pointer;
  border: 1px solid var(--portfolio-button);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  background-color: var(--nav-color);
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
